[package]
name = "leafwing_input_manager"
description = "A powerfully direct stateful input manager for the Bevy game engine."
version = "0.3.0"
authors = ["Leafwing Studios"]
homepage = "https://leafwing-studios.com/"
repository = "https://github.com/leafwing-studios/leafwing_input_manager"
license = "MIT OR Apache-2.0"
edition = "2021"
categories = ["games", "game-development"]
keywords = ["bevy"]
exclude = ["assets/**/*", "tools/**/*", ".github/**/*"]

[profile.dev]
opt-level = 3

[workspace]
members = ["./", "tools/ci", "macros"]

[features]
default = ['ui']
ui = ['bevy/bevy_ui']

[dependencies]
bevy = {version = "0.6", default-features = false, features = ["serialize"]}
petitset = {version = "0.2.1", features = ["serde_compat"]}
derive_more = "0.99"
leafwing_input_manager_macros = { path = "macros", version = "0.2" }
thiserror = "1.0"
itertools = "0.10"
serde = {version = "1.0", features = ["derive"]}

[dev-dependencies]
bevy = {version = "0.6", default-features = false, features = ["bevy_sprite", "bevy_text", "bevy_render", "bevy_core_pipeline", "x11"]}
derive_more = "0.99"
toml = "0.5"
ron = "0.7"

[lib]
name = "leafwing_input_manager"
path = "src/lib.rs"

[patch.crates-io]
leafwing_2d = {git = "https://github.com/leafwing-studios/leafwing_2d"}
