[package]
name = "leafwing-input-manager"
description = "A powerfully direct stateful input manager for the Bevy game engine."
version = "0.13.0"
authors = ["Leafwing Studios"]
homepage = "https://leafwing-studios.com/"
repository = "https://github.com/leafwing-studios/leafwing-input-manager"
license = "MIT OR Apache-2.0"
edition = "2021"
categories = ["games", "game-development"]
keywords = ["bevy"]
exclude = ["assets/**/*", "tools/**/*", ".github/**/*"]

[profile.dev]
opt-level = 3

[workspace]
members = ["./", "tools/ci", "macros"]

[features]
default = ['asset', 'ui', 'block_ui_interactions']

# Allow you to use the `InputMap` as `bevy::asset::Asset`.
asset = ['bevy/bevy_asset']

# Provide functionality refer to `bevy::ui`:
# - `MockUIInteraction` for `bevy::ui` input mocking.
# - `update_action_state_from_interaction` system,
#   which automatically processes clicks on `bevy::ui` buttons attached to `Actionlike`s,
#   triggering corresponding actions in their `ActionState`.
ui = ['bevy/bevy_ui']

# If both this feature and `ui` are enabled, `bevy::ui` will take priority over actions when processing inputs for the `ActionState`.
block_ui_interactions = []

# If this feature is enabled, `egui` will take priority over actions when processing inputs for the `ActionState`.
egui = ['dep:bevy_egui']

[dependencies]
leafwing_input_manager_macros = { path = "macros", version = "0.13" }
bevy = { version = "0.13", default-features = false, features = [
  "serialize",
  "bevy_gilrs",
] }
bevy_egui = { version = "0.25", optional = true }

derive_more = { version = "0.99", default-features = false, features = [
  "display",
  "error",
] }
itertools = "0.12"
serde = { version = "1.0", features = ["derive"] }

[dev-dependencies]
bevy = { version = "0.13", default-features = false, features = [
  "bevy_asset",
  "bevy_sprite",
  "bevy_text",
  "bevy_ui",
  "bevy_render",
  "bevy_core_pipeline",
  "x11",
] }
bevy_egui = "0.25"
serde_test = "1.0"
criterion = "0.5"

[[bench]]
name = "action_state"
harness = false

[[bench]]
name = "input_map"
harness = false

[lib]
name = "leafwing_input_manager"
path = "src/lib.rs"
