[package]
name = "leafwing-input-manager"
description = "A powerfully direct stateful input manager for the Bevy game engine."
version = "0.7.1"
authors = ["Leafwing Studios"]
homepage = "https://leafwing-studios.com/"
repository = "https://github.com/leafwing-studios/leafwing-input-manager"
license = "MIT OR Apache-2.0"
edition = "2021"
categories = ["games", "game-development"]
keywords = ["bevy"]
exclude = ["assets/**/*", "tools/**/*", ".github/**/*"]

[profile.dev]
opt-level = 3

[workspace]
members = ["./", "tools/ci", "macros"]

[features]
default = ['ui']
ui = ['bevy/bevy_ui']
# If this feature is enabled, egui will have priority over actions when processing inputs
egui = ['dep:bevy_egui']

[dependencies]
leafwing_input_manager_macros = { path = "macros", version = "0.7" }

bevy = {version = "0.9", default-features = false, features = ["serialize", "bevy_gilrs"]}
bevy_egui = {version = "0.17", optional = true}

petitset = {version = "0.2.1", features = ["serde_compat"]}
derive_more = {version = "0.99", default-features = false, features = ["display", "error"]}
itertools = "0.10"
serde = {version = "1.0", features = ["derive"]}

[dev-dependencies]
bevy = {version = "0.9", default-features = false, features = ["bevy_asset", "bevy_sprite", "bevy_text", "bevy_ui", "bevy_render", "bevy_core_pipeline", "x11"]}
bevy_egui = {version = "0.17"}
serde_test = "1.0"

[lib]
name = "leafwing_input_manager"
path = "src/lib.rs"
