[package]
name = "leafwing_input_manager"
description = "A powerfully direct stateful input manager for the Bevy game engine."
version = "0.5.0"
authors = ["Leafwing Studios"]
homepage = "https://leafwing-studios.com/"
repository = "https://github.com/leafwing-studios/leafwing-input-manager"
license = "MIT OR Apache-2.0"
edition = "2021"
categories = ["games", "game-development"]
keywords = ["bevy"]
exclude = ["assets/**/*", "tools/**/*", ".github/**/*"]

[profile.dev]
opt-level = 3

[workspace]
members = ["./", "tools/ci", "macros"]

[features]
default = ['ui']
ui = ['bevy_ui']

[dependencies]
leafwing_input_manager_macros = { path = "macros", version = "0.5" }

bevy_app = {git = "https://github.com/bevyengine/bevy", default-features = false}
bevy_core = {git = "https://github.com/bevyengine/bevy", default-features = false}
bevy_transform = {git = "https://github.com/bevyengine/bevy", default-features = false}
bevy_ecs = {git = "https://github.com/bevyengine/bevy", default-features = false}
bevy_input = {git = "https://github.com/bevyengine/bevy", default-features = false, features = ["serialize"]}
bevy_math = {git = "https://github.com/bevyengine/bevy", default-features = false}
bevy_time = {git = "https://github.com/bevyengine/bevy", default-features = false}
bevy_utils = {git = "https://github.com/bevyengine/bevy", default-features = false}
bevy_ui = {git = "https://github.com/bevyengine/bevy", default-features = false, optional = true}
bevy_window = {git = "https://github.com/bevyengine/bevy", default-features = false}

[dev-dependencies]
bevy = {git = "https://github.com/bevyengine/bevy", default-features = false, features = ["bevy_gilrs", "bevy_sprite", "bevy_text", "bevy_ui", "bevy_render", "bevy_core_pipeline", "x11"]}
bevy_egui = { version="0.14", default-features = false }

[lib]
name = "leafwing_input_manager"
path = "src/lib.rs"
