[package]
name = "leafwing-input-manager"
description = "A powerfully direct stateful input manager for the Bevy game engine."
version = "0.11.0"
authors = ["Leafwing Studios"]
homepage = "https://leafwing-studios.com/"
repository = "https://github.com/leafwing-studios/leafwing-input-manager"
license = "MIT OR Apache-2.0"
edition = "2021"
categories = ["games", "game-development"]
keywords = ["bevy"]
exclude = ["assets/**/*", "tools/**/*", ".github/**/*"]

[profile.dev]
opt-level = 3

[workspace]
members = ["./", "tools/ci", "macros"]

[features]
default = ['ui', 'block_ui_interactions']
ui = ['bevy/bevy_ui']
block_ui_interactions = []

[dependencies]
leafwing_input_manager_macros = { path = "macros", version = "0.11" }
bevy = { version = "0.12", default-features = false, features = [
  "serialize",
  "bevy_gilrs",
] }

petitset = { version = "0.2.1", features = ["serde_compat"] }
derive_more = { version = "0.99", default-features = false, features = [
  "display",
  "error",
] }
itertools = "0.11"
serde = { version = "1.0", features = ["derive"] }
fixedbitset = "0.4.2"
once_cell = "1.17.1"

[dev-dependencies]
bevy = { version = "0.12", default-features = false, features = [
  "bevy_asset",
  "bevy_sprite",
  "bevy_text",
  "bevy_ui",
  "bevy_render",
  "bevy_core_pipeline",
  "x11",
] }
serde_test = "1.0"
criterion = "0.5"

[[bench]]
name = "action_state"
harness = false

[[bench]]
name = "input_map"
harness = false

[lib]
name = "leafwing_input_manager"
path = "src/lib.rs"
